*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#2563EB,#4F46E5,#06B6D4);
padding:30px;
}

.background{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

.register-container{
width:100%;
display:flex;
justify-content:center;
}

.register-card{
width:450px;
background:rgba(255,255,255,.15);
backdrop-filter:blur(20px);
padding:35px;
border-radius:25px;
box-shadow:0 15px 40px rgba(0,0,0,.25);
animation:fade .7s;
}

.logo{
width:75px;
height:75px;
margin:auto;
background:white;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:35px;
margin-bottom:20px;
}

h1{
color:white;
text-align:center;
margin-bottom:10px;
}

.subtitle{
text-align:center;
color:#E5E7EB;
margin-bottom:30px;
}

.input-group{
margin-bottom:18px;
}

.input-group label{
display:block;
margin-bottom:8px;
color:white;
font-weight:500;
}

.input-group input,
.input-group select{
width:100%;
padding:14px;
border:none;
outline:none;
border-radius:12px;
background:rgba(255,255,255,.2);
color:white;
font-size:15px;
}

input::placeholder{
color:#eee;
}

select option{
color:black;
}

.password-box{
position:relative;
}

.eye-btn{
position:absolute;
right:15px;
top:50%;
transform:translateY(-50%);
background:none;
border:none;
cursor:pointer;
font-size:20px;
}

.register-btn{
width:100%;
padding:15px;
background:white;
color:#2563EB;
border:none;
border-radius:12px;
font-size:17px;
font-weight:600;
cursor:pointer;
transition:.3s;
margin-top:10px;
}

.register-btn:hover{
transform:translateY(-2px);
background:#DBEAFE;
}

.divider{
margin:25px 0;
text-align:center;
color:white;
position:relative;
}

.divider::before,
.divider::after{
content:"";
position:absolute;
width:40%;
height:1px;
background:white;
top:50%;
}

.divider::before{
left:0;
}

.divider::after{
right:0;
}

.login-text{
text-align:center;
color:white;
}

.login-text a{
color:white;
font-weight:600;
text-decoration:none;
}

.login-text a:hover{
text-decoration:underline;
}

@keyframes fade{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}

@media(max-width:600px){

.register-card{

width:100%;
padding:25px;

}

}